.cromo-container {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.favoritos {
  position: relative;
  flex: 1 0 20%;
  padding: 16px;
  border-radius: 10px;
  font-family: Verdana;
  margin: 10px;
  border: 2px solid black;
}

.favoritos img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px; /* Añadido margen inferior para separar la imagen del resto del contenido */
}

.cromo-info {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

.favoritos h3 {
  margin: 0;
  position: relative;
  left: 20px;
}

.favoritos h3 i {
  margin-left: 5px;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

#renew-icon {
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
