
.favoritos{
    height: 20%;
    width: 20%;
    padding: 16px;
    background-color: orange;
    border-radius: 10px;
    font-family: Verdana;
}

.favoritos img{
    height: 90%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.favoritos h4{
    text-align: justify;
}