<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>
<div class="cromo-container">
  <div *ngFor="let cromo of cromos" class="favoritos">
    <img [src]="cromo.imagen" />
    <div class="cromo-info">
      <h3>
        <i class="fas fa-redo" id="renew-icon"></i>
        <!-- Icono de renovar-->
        {{ cromo.nombre }}
        <i
          class="heart-icon"
          [ngClass]="cromo.favorito ? 'fas fa-heart' : 'far fa-heart'"
          (click)="cromo.favorito = !cromo.favorito"
        ></i>
        <!-- Icono de favorito -->
      </h3>
      <p>{{ cromo.descripcion }}</p>
    </div>
  </div>
</div>
